{% extends "base.html" %}
{# index  #}
{% block contend %}

        <!--新闻动态-->
        <div class="bigbox">
            <div class="xinwenbox">
                <div class="xw-01">
                    <div class="more">
                        <a href="" target="_blank">
                            <img src="{{ url_for('static',filename='image/more_18.jpg') }}">
                        </a>
                    </div>
                </div>
                <!--新闻内容-->
                <div class="nrbox">
                    <div class="nrleftbox">
                        <div class="images">
                            <div id="slideBox" class="slideBox">
                                <div class="hd">
                                    <ul>
                                        <li class="on">1</li>
                                        <li class="">2</li>
                                        <li class="">3</li>
                                        <li class="">4</li>
                                        <li class="">5</li>
                                    </ul>
                                </div>
                                <div class="bd">
                                    <ul class="cWhite">

                                        <li style="display: list-item;">
                                            <a href="">
                                                <img src="{{ url_for('static',filename='image/36541146163972500.jpg') }}" alt="金狗迎新春  瑞雪兆丰年" title="金狗迎新春  瑞雪兆丰年">
                                            </a>
                                            <p>
                                                <a href="" title="金狗迎新春  瑞雪兆丰年">金狗迎新春瑞雪兆丰年</a>
                                            </p>
                                        </li>

                                        <li style="display: none;">
                                            <a href="">
                                                <img src="{{ url_for('static',filename='image/636516099217003829.jpg') }}" alt="“邓村绿茶”商标被国家工商总局认定为“中国驰名商标”" title="“邓村绿茶”商标被国家工商总局认定为“中国驰名商标”">
                                            </a>
                                            <p>
                                                <a href="" title="“邓村绿茶”商标被国家工商总局认定为“中国驰名商标”">“邓村绿茶”商标被国家工商总局认定为“中国驰名商标”</a>
                                            </p>
                                        </li>

                                        <li style="display: none;">
                                            <a href="">
                                                <img src="{{ url_for('static',filename='image/636491379671093750.jpg') }}" alt="省民营企业发展协会召开2017年年会" title="省民营企业发展协会召开2017年年会">
                                            </a>
                                            <p>
                                                <a href="" title="省民营企业发展协会召开2017年年会">省民营企业发展协会召开2017年年会</a>
                                            </p>
                                        </li>

                                        <li style="display: none;">
                                            <a href="">
                                                <img src="{{ url_for('static',filename='image/36435260387031250.jpg') }}" alt="省民企协会党支部召开专题组织生活会" title="省民企协会党支部召开专题组织生活会">
                                            </a>
                                            <p>
                                                <a href="" title="省民企协会党支部召开专题组织生活会">省民企协会党支部召开专题组织生活会</a>
                                            </p>
                                        </li>

                                        <li style="display: none;">
                                            <a href="">
                                                <img src="{{ url_for('static',filename='image/636435265051875000.JPG') }}" alt="万安培会长带队调研湖北三环成套工业有限公司" title="万安培会长带队调研湖北三环成套工业有限公司"></a>
                                            <p>
                                                <a href="" title="万安培会长带队调研湖北三环成套工业有限公司">万安培会长带队调研湖北三环成套工业有限公司</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <script type="text/javascript">
                                jQuery(".slideBox").slide({
                                    mainCell: ".bd ul",
                                    autoPlay: true
                                });
                            </script>
                        </div>
                    </div>
                    <div class="nrrightbox">
                        <div class="dawenzi">
                            <a href="" target="_blank">第二届“邓村绿茶杯”摄影大赛获奖作品公示</a>
                        </div>
                        <div class="wenzhang">
                            <span>由夷陵区邓村乡人民政府、湖北邓村绿茶集团股份有限公司主办，宜昌市摄影家...</span>
                            <a href="" target="_blank">[全文]</a>
                        </div>

                        <div class="line">

                        </div>
                        <div class="smallbox">
                            <ul>
                                <li class="text01">
                                    <a href="" target="_blank">超越陷阱——与红桃K集团黄立平一...</a>
                                    <span>[2-24]</span>
                                </li>

                                <li class="text01">
                                    <a href="" target="_blank">山河集团获“江城十大智慧工地”...</a>
                                    <span>[2-24]</span>
                                </li>

                                <li class="text01">
                                    <a href="" target="_blank">武汉工商五大举措服务“三乡工程...</a>
                                    <span>[2-24]</span>
                                </li>

                                <li class="text01">
                                    <a href="" target="_blank">武汉为企业减税448亿力度之大创...</a>
                                    <span>[2-24]</span>
                                </li>

                                <li class="text01">
                                    <a href="" target="_blank">武汉今年新增高新技术企业500家...</a>
                                    <span>[2-24]</span>
                                </li>

                                <li class="text01">
                                    <a href="" target="_blank">荆门为企业减税21亿元</a>
                                    <span>[2-24]</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--nrbox-->

            </div><!--xinwenbox-->
            <div class="gonggaobox">
                <div class="more02">
                    <a href="" target="_blank">
                        <img src="{{ url_for('static',filename='image/more02_16.jpg') }}"></a>
                </div>
                <div class="textbox">
                    <ul>
                        <li class="text02">
                            <a href="" target="_blank">关于印发《会员单位以...</a>
                        </li>
                        <li class="text02">
                            <a href="" target="_blank">关于成立金融、法律专...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于杨海洲监事临时主...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于免去胡传金同志协...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于组织会员企业出国...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于湖北省民营企业发...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于湖北省民营企业发...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于召开湖北省民营企...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">捐款倡议书</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--bigbox-->
        <!--人物风采-->
        <div class="fcbigbox">
            <div class="fcbox">
                <div class="more03">
                    <a href="http://www.hbqyxh.org/html.aspx?type=3" target="_blank">
                        <img src="{{ url_for('static',filename='image/more3_24.jpg') }}">
                    </a>
                </div>
                <div class="tpbox">
                    <ul class="tpbox01">

                        <li class="fcimage">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/636371298375000000.jpg') }}">
                            </a>
                            <span>
                                <a href="" target="_blank">徐荣国</a>
                            </span>
                        </li>
                        <li class="fcimage">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/636361840557500000.jpg') }}">
                            </a>
                            <span>
                                <a href="" target="_blank">万安培</a>
                            </span>
                        </li>
                        <li class="fcimage">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/635578623850000000.jpg') }}">
                            </a>
                            <span>
                                <a href="" target="_blank">陈进雄</a>
                            </span>
                        </li>
                        <li class="fcimage">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/635578627569375000.jpg') }}"></a>
                            <span>
                                <a href="" target="_blank">黄宗虎</a>
                            </span>
                        </li>
                        <li class="fcimage">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/635578629408125000.jpg') }}"></a>
                            <span>
                                <a href="" target="_blank">刘少文</a>
                            </span>
                        </li>
                        <li class="fcimage">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/635578632644687500.jpg') }}"></a>
                            <span>
                                <a href="" target="_blank">谢松柏</a>
                            </span>
                        </li>
                    </ul>
                </div><!--tpbox-->
            </div><!--fcbox-->
            <div class="spbox">
                <div class="sp"><a href="" target="_blank">
                    <p>
                        <embed allowfullscreen="true" allowscriptaccess="always" flashvars="file=../abc.flv&amp;autostart=true&amp;repeat=1&amp;" isautoplay="1&quot;" height="188" id="player2" name="player" src="static/swf/player.swf" type="application/x-shockwave-flash" width="227">
                    </p>
                </a></div>
            </div><!--spbox-->
        </div><!--fcbigbox-->
        <!--机构介绍-->
        <div class="jgjsbox">
            <div class="jgbox">
                <img src="{{ url_for('static',filename='image/jgjs.jpg') }}">
            </div>
            <div class="jgcdbox">
                <ul>
                    <li class="xz01">
                        <a href="" target="_blank">协会介绍</a>
                        <div class="xzbox01">
                            <ul></ul>
                        </div>
                    </li>
                    <li class="xz01"><a href="" target="_blank">协会章程</a>
                        <div class="xzbox01">
                            <ul></ul>
                        </div>
                    </li>
                    <li class="xz01"><a href="" target="_blank">规章制度</a>
                        <div class="xzbox01">
                            <ul>
                                <li class="conlumn">
                                    <a href="" target="_blank">会费管理</a>
                                </li>
                                <li class="conlumn">
                                    <a href="" target="_blank">会长办公制度</a>
                                </li>
                                <li class="conlumn">
                                    <a href="" target="_blank">社会组织薪酬管理</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="xz01">
                        <a href="" target="_blank">入会申请表</a>
                        <div class="xzbox01">
                            <ul></ul>
                        </div>
                    </li>
                    <li class="xz01" style="color: rgb(184, 69, 8);">
                        <a href="" target="_blank">会长介绍</a>
                        <div class="xzbox01" style="display: none;">
                            <ul></ul>
                        </div>
                    </li>
                    <li class="xz01" style="color: rgb(184, 69, 8);">
                        <a href="" target="_blank">会员单位</a>
                        <div class="xzbox01" style="display: none;">
                            <ul>
                                <li class="conlumn">
                                    <a href="" target="_blank">副会长</a>
                                </li>
                                <li class="conlumn">
                                    <a href="" target="_blank">理事</a>
                                </li>
                                <li class="conlumn">
                                    <a href="" target="_blank">会员</a>
                                </li>
                                <li class="conlumn">
                                    <a href="" target="_blank">常务理事</a>
                                </li>
                                <li class="conlumn">
                                    <a href="" target="_blank">进出口贸易工作委员会</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <div class="hengfu"><p>
                    <img alt="" src="{{ url_for('static',filename='image/636550539534196250.jpg') }}" style="width: 1000px; height: 174px;"></p>
                </div>
            </div>
        </div>
        <!--横幅-->

        <!--企业推介-->
        <div class="underbigbox">
            <div class="qytjbox">
                <div class="gengduo">
                    <a href="" target="_blank">更多</a>
                </div>
                <div class="qytjtu">
                    <ul>
                        <li class="folatli">
                            <div class="tu01">
                                <a href="" target="_blank">
                                    <img src="{{ url_for('static',filename='image/636363870362031250.jpg') }}">
                                </a>
                            </div>
                            <div class="jituan">
                                <span>武汉太阳湖生态农业发展有限公司</span>
                                <p>
                                    <a href="" target="_blank">武汉市太阳湖生态农业发展有限公司成立于2008年，主要从事林木、农作物种植、畜禽养殖、水产品养殖、农业技术研究与技术咨询服务、农业观光。公司自成立以来发展成...</a>
                                </p>
                            </div>
                        </li>
                        <li class="folatli">
                            <div class="tu01">
                                <a href="" target="_blank">
                                    <img src="{{ url_for('static',filename='image/635584854271250000.jpg') }}"></a>
                            </div>
                            <div class="jituan"><span>武汉东湖海洋世界</span>
                                <p>
                                    <a href="" target="_blank">武汉东湖海洋世界坐落在著名的国家5A名胜风景区武汉东湖湖畔。建筑面积3万平方米，展示千余种万余尾海洋珍稀鱼类。整个展馆由九个展区组成：热带雨林馆、海底隧道、...</a>
                                </p>
                            </div>
                        </li>
                        <li class="folatli">
                            <div class="tu01">
                                <a href="" target="_blank">
                                    <img src="{{ url_for('static',filename='image/635578674979375000.jpg') }}">
                                </a>
                            </div>
                            <div class="jituan">
                                <span>香满园</span>
                                <p>
                                    <a href="" target="_blank">武汉香满园食品有限公司是一家专业从事罐头食品加工和销售的市级农业产业化龙头企业,公司拥有专业的技术,先进的设备,完善的工艺。生产的武昌鱼曾荣获第二界中国武汉...</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--经营之道-->
            <div class="jjzdtubox">
                <div class="jyzdbox">
                    <div class="more04">
                        <a href="" target="_blank">
                            <img src="{{ url_for('static',filename='image/more03_45.jpg') }}">
                        </a>
                    </div>

                    <div class="text03">
                        <a href="http://www.hbqyxh.org/view.aspx?id=2512" target="_blank">
                            <img src="{{ url_for('static',filename='image/636499711951701250.jpg') }}">
                        </a>
                        <div class="jy">
                            <span>4天搞定腾讯42个亿，他19岁也只是个搬砖工！</span>
                            <p>
                                <a href="" target="_blank">19岁开始扛包、搬砖，20岁的他是个不起眼的啤酒代理商，39岁却一举开出570家分店，年赚367亿，京东和腾讯抢着做生意，他叫张轩松，永辉超市的掌门人。哪儿有勤奋...</a>
                            </p>
                        </div>
                    </div>

                    <div class="listjy">
                        <ul>
                            <li class="list01">
                                <a href="" target="_blank">合伙做生意要长久，必须坚守的的十大原则</a>
                                <span></span>
                            </li>

                            <li class="list01">
                                <a href="" target="_blank">星巴克运营成功之道</a>
                                <span></span>
                            </li>

                            <li class="list01">
                                <a href="" target="_blank">张瑞敏马云意见一致：企业不要成为帝国，因为一定会垮掉</a>
                                <span></span>
                            </li>

                            <li class="list01">
                                <a href="" target="_blank">任正非发160字华为内部信:提拔一位员工鼓励说真话</a>
                                <span></span></li>

                            <li class="list01">
                                <a href="" target="_blank">东北企业家反驳“唱衰”：打球不行别怪球场和球杆</a>
                                <span></span>
                            </li>

                            <li class="list01">
                                <a href="" target="_blank">没想到，这么多大企业家曾经是老师</a>
                                <span></span>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--文化交流-->
                <div class="jlbackbox">
                    <div class="wenhuabox">
                        <div class="more05">
                            <a href="" target="_blank">
                                <img src="{{ url_for('static',filename='image/more04_25.jpg') }}">
                            </a>
                        </div>
                        <div class="zlmbox">
                            <ul id="tab1">

                                <li class="lanmubox01" onclick="tabsV1(this,0)">
                                    <a href="javascript:void(0)" target="_blank">文艺活动</a>
                                </li>

                                <li class="lanmubox" onclick="tabsV1(this,1)">
                                    <a href="javascript:void(0)" target="_blank">书法作品</a>
                                </li>

                                <li class="lanmubox" onclick="tabsV1(this,2)">
                                    <a href="javascript:void(0)" target="_blank">美术作品</a>
                                </li>

                                <li class="lanmubox" onclick="tabsV1(this,3)">
                                    <a href="javascript:void(0)" target="_blank">摄影作品</a>
                                </li>

                                <li class="lanmubox" onclick="tabsV1(this,4)">
                                    <a href="javascript:void(0)" target="_blank">诗歌散文</a>
                                </li>

                                <li class="lanmubox" onclick="tabsV1(this,5)">
                                    <a href="javascript:void(0)" target="_blank">其他作品</a>
                                </li>

                            </ul>
                        </div>
                        <div class="lmtext" id="tab1_content0">
                            <ul>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">省孔子问津文化发展促进会成功举办书画笔会</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">书法人必读100种书目</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">【揭秘】买字画的好处，一般人悟不到</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">米颠的字为什么好？因为狂！</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">书画艺术家利川行</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">与时代共进，以书入画——评林幼槐书法艺术</a>
                                    <span></span>
                                </li>

                            </ul>
                        </div>
                        <div class="lmtext" id="tab1_content1" style="display:none;">
                            <ul>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">轼的小楷，你见过吗？</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">完结篇——米芾手札临习攻略（之四）：章法特征</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">我叫书法，这是我的最新简历，请多多关照！</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">方平安先生书法作品欣赏（二）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">方平安先生书法作品欣赏（一）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">中国书法最高奖“终身成就奖”获奖书法家作品欣赏</a>
                                    <span></span>
                                </li>

                            </ul>
                        </div>
                        <div class="lmtext" id="tab1_content2" style="display:none;">
                            <ul>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">王亚南先生作品欣赏（二）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">王亚南先生作品欣赏（一）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">名家国画荷花赏析：淡雅荷韵</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">林幼槐先生作品欣赏（2）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">林幼槐先生作品欣赏（1）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">张大千摄人心魂的金碧山水</a>
                                    <span></span>
                                </li>

                            </ul>
                        </div>
                        <div class="lmtext" id="tab1_content3" style="display:none;">
                            <ul>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">方平安先生摄影作品欣赏（二）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">方平安先生摄影作品欣赏（一）</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">方平安摄影作品</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">心心相印</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">吸引作者：聂荣军</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">夕照大九湖作者：黄签名</a>
                                    <span></span>
                                </li>

                            </ul>
                        </div>
                        <div class="lmtext" id="tab1_content4" style="display:none;">
                            <ul>

                                <li class="lanmuwz">
                                    <a href="" target="_blank"></a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">东湖放鹰台感咏(中华新韵)</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">钗头凤赞中华诗词并和马凱先生</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">雪花</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">静夜思</a>
                                    <span></span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">今日冷风吹</a>
                                    <span></span>
                                </li>

                            </ul>
                        </div>
                        <div class="lmtext" id="tab1_content5" style="display:none;">
                            <ul>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">日照清江远</a>
                                    <span>[</span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">七绝荷塘感咏</a>
                                    <span>[</span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">念奴娇神农架感赋</a>
                                    <span>[</span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">兰香溢玉杯</a>
                                    <span>[</span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">穿越三峡大瀑布</a>
                                    <span>[</span>
                                </li>

                                <li class="lanmuwz">
                                    <a href="" target="_blank">诗影之窗---静看风云起闲听水墨声</a>
                                    <span>[</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wqfwbox">
                        <div class="flfgbox">
                            <a href="" target="_blank" class="fgbox">法律法规</a>
                            <a href="" target="_blank" class="fgbox01">典型案例</a>
                            <a href="" target="_blank" class="fgbox02">依法经营</a>
                        </div>
                    </div>
                </div>
            </div><!--jjzdtubox-->
        </div><!--underbigbox-->
        <!--企业横幅-->
        <div class="qyhfbox"><p>
            <img alt="" src="{{ url_for('static',filename='image/635575355297187500.jpg') }}" style="width: 1001px; height: 129px"></p>
        </div>


{% endblock %}