{% extends "base.html" %}
{% block contend %}
    <div class="nymaxbox">
        <div class="nyleftbox">
            <div><img src="{{ url_for('static',filename='image//lmdh_03.jpg') }}/"/></div>

            <script type="text/javascript" src="{{ url_for('static',filename='js/div_marquee.js') }}"></script>


            <div class="zlmdhbox">
                <ul>

                    <li><a href="" target="_blank">协会介绍</a></li>

                    <li><a href="" target="_blank">协会章程</a></li>

                    <li><a href="" target="_blank">规章制度</a></li>

                    <li><a href="" target="_blank">会员单位</a></li>

                    <li><a href="" target="_blank">会长介绍</a></li>

                    <li><a href="" target="_blank">入会申请表</a></li>

                </ul>
            </div>

            <div class="gonggaobox01">
                <div class="more02">
                    <a href="#" target="_blank">
                        <img src="{{ url_for('static',filename='image/more02_16.jpg') }}"/>
                    </a>
                </div>
                <div class="textbox">
                    <ul>

                        <li class="text02">
                            <a href="" target="_blank">关于印发《会员单位以...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于成立金融、法律专...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于杨海洲监事临时主...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于免去胡传金同志协...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于组织会员企业出国...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于湖北省民营企业发...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于湖北省民营企业发...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">关于召开湖北省民营企...</a>
                        </li>

                        <li class="text02">
                            <a href="" target="_blank">捐款倡议书</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        {% block right %}

        {% endblock %}
    </div>


{% endblock %}