{% extends "base_digest.html" %}
{# 法律服务　#}
{% block right %}
  <div class="nyrightbox">
            <div class="nylefttop">
                <span>机构介绍</span>
                <p>您当前所在的位置：首页 > 机构介绍</p>
            </div>
            <div class="text04">
                <div class="content_0">
                    <p>
                        　 &nbsp; 湖北省民营企业发展协会是由省工商联合会直接领导的社团组织，为全省民营企业服务是本会的宗旨。协会重点拟在牵线服务、维权服务、咨询服务和宣传、推销我省民营企业方面发挥作用。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖北省民营企业发展协会由现任民建中央副主席王少阶、原省军区副司令员张汉元任名誉会长。协会荟集全省的各类民营企业，由省内外有影响的民营企业家拟任正副会长。它的成立将在民营企业和政府之间搭起新的沟通平台，增加新的信息传输通道，建立新的民企合作交流机制。同时，植根于为会员企业排忧解难的民营企业发展协会，将会让所属会员单位真切感受到协会是自己的协会，是在真心实意支持和帮助企业发展。
                    </p>

                </div>
            </div>
        </div>
{% endblock %}